.light-theme{
  
  --bg-img:url('./assets/light.png');
  --bg-offhead:#CECECE6B;
  --nav-bg:black;
  --clr-:white;
}
.dark-theme{


  --bg-img:url('./assets/dark.png');
  --bg-offhead: #000000B8;
  --nav-bg:white;
  --clr-:black;
}