.light-theme {

  --bg-img: url('./assets/light.png');
  --bg-offhead: #CECECE6B;
  --nav-bg: white;
  --clr-: white;
  --bg-protect:white;
  --modal-content:white;
  --text-white:black;
}

.dark-theme {
  --text-white:white;
  --modal-content:black;
  --bg-protect:transparent;

  --bg-img: url('./assets/dark.png');
  --bg-offhead: #000000B8;
  --nav-bg: white;
  --clr-: black;
}
.lighttext{
  color: var(--text-white);
}
.modal-content{
  background-color: #292E41 !important;
  color: var( --nav-bg);
}
.modal-content p{
  color: var( --nav-bg);
}
.modal-body .input-group-text{
  background-color: var(--clr-);
}
.modal-body .form-control{
  background-color: var(--clr-);
  color: var(--nav-bg);
}
.input-group-text svg{
  color: var(--nav-bg);
}
.btn-close{
  background-color: white;
}
.disabledDiv {
  cursor: not-allowed;
  opacity: 0.4;
}

.enabledDiv {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-transparent .accordion-button,
.bg-transparent .accordion-body {
  background-color: transparent !important;
  /* Using !important to ensure override */
}

/* Set the scrollbar width to 10px */
::-webkit-scrollbar {
  width: 10px;
}

/* Set the scrollbar height for horizontal scrollbar */
::-webkit-scrollbar {
  height: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scroll thumb */
  border-radius: 4px;
  /* Rounded corners on thumb */
}

/* Hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
  border-radius: 4px;
  /* Rounded corners on track */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
  border-radius: 4px;
  /* Rounded corners on track */
}

.margin {
  padding-top: 80px !important;
}

/* [data-rk] .iekbcc0{
  justify-content: start !important;
} */
.nav-item {
  color: white !important;
}

.main_grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.div_tooltip {
  display: inline-block;
}
.div_tooltip:hover .tooltip {
  visibility: visible;
}
.tooltip {
  position: relative;
  top: 20px;
  left: -50%;
  display: inline;
  visibility: hidden;
  background: #eee;
}
/* .iekbcc0 .ju367va .ju367v1n{
 
}
[data-rk] .ju367v1n{
  gap: 0px !important;
  background-color: white !important;
  border-radius: 20px !important;
}
[data-rk] ._12cbo8i6, [data-rk] ._12cbo8i6::after{
  border-radius: 0px !important;
  border-radius: 0px !important;
}
[data-rk] ._12cbo8i4, [data-rk] ._12cbo8i4::after{
  border-radius: 0px !important;
  border-radius: 0px !important;
}
[data-rk] .ju367vec{
  box-shadow: 0px !important;
} */
.dropdown-menu{
  background-color: #270515;
  color: white;
  border-radius: 10px;
}
.dropdown-item:hover{
  background-color: #270515 !important;
  font-weight: bolder;
}
.new_clr a:hover{
  font-weight: bolder;
}
.color_text{
  color: var(--nav-bg);
}
.color_close{
  color: var(--nav-bg);
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: transparent !important;
}