.light-theme{
  
  --bg-img:url('./assets/light.png');
  --bg-offhead:#CECECE6B;
  --nav-bg:black;
  --clr-:white;
}
.dark-theme{


  --bg-img:url('./assets/dark.png');
  --bg-offhead: #000000B8;
  --nav-bg:white;
  --clr-:black;
}

.disabledDiv {
  cursor: not-allowed;
  opacity: 0.4;
}

.enabledDiv{
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-transparent .accordion-button,
.bg-transparent .accordion-body {
    background-color: transparent !important; /* Using !important to ensure override */
}

/* Set the scrollbar width to 10px */
::-webkit-scrollbar {
  width: 10px;
}

/* Set the scrollbar height for horizontal scrollbar */
::-webkit-scrollbar {
  height: 10px;
}
/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners on thumb */
}

/* Hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px; /* Rounded corners on track */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px; /* Rounded corners on track */
}
.margin{
  /* padding-top: 80px !important; */
}
/* [data-rk] .iekbcc0{
  justify-content: start !important;
} */
.nav-item{
  color: white !important;
}